@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {margin: 0px;padding: 0px;box-sizing: border-box;}
body {background-color: #ddd;font-family: 'Poppins', sans-serif;}
p {font-size: 18px;line-height: 32px;font-weight: 300;}

/* Font Style */
h1 {font-size: 20px;}
h2 {font-size: 20px;}
h3 {font-size: 20px;}
h4 {font-size: 20px;}
h5 {font-size: 20px;}
/* Font Style */

.main-heding {color: #dddd;}
.subheading {color: #dddd;}
.paragraph {color: #dddd;}

/* Log in page style start */
.login {position: relative;padding: 70px;}
.login::before {content: " ";width: 50%;height: 100%;position: absolute;left: 0;
    top: 0;background: rgb(45, 157, 141);background: linear-gradient(180deg, rgba(45, 157, 141, 1) 50%, rgba(32, 119, 110, 1) 83%);
	z-index: -1;}
.login::after {content: " ";width: 50%;height: 100%;position: absolute;right: 0;
	top: 0;background: #EAF2EE;z-index: -1;}
.mainlogin-wrap {border: solid 4px #ffffff;border-radius: 42px;padding: 50px 0px 10px 0px;
	background: pink;position: relative;overflow: hidden; box-shadow: 1px 1px 50px #227d7333;}
.mainlogin-wrap::before {content: " ";width: 50%;height: 100%;position: absolute;left: 0;
	top: 0;background: rgb(32,119,110);
    background: linear-gradient(180deg, rgba(32,119,110,1) 29%, rgba(45,157,141,1) 88%);}
.mainlogin-wrap::after {content: " ";width: 50%;height: 100%;position: absolute;
   right: 0;top: 0;background: #FFFFFF;}
.login h3 {font-size: 28px;color: #ffffff;line-height: 51px;font-weight: 600;margin-top: 40px;}
.login p {color: #ffffff;}
.login-info {text-align: center;padding: 0 6% !important;position: relative;z-index: 1;}
.login-info img {max-width: 280px;width: 100%;}
.login-form {position: relative;z-index: 1;}
.login-form ul {text-align: center;display: flex;padding-left: 0;}
.login-form li {list-style: none;}
.login-form li span {font-size: 45px;line-height: 58px;vertical-align: bottom;}
.login-form {padding: 0 10% !important;}
.login-form-top h3 {color: #000000;font-size: 20px;line-height: 20px;font-weight: 500;
	margin-top: 11px;margin-bottom: 30px;}
.login-form li:nth-child(2) {padding-top: 19px;padding-left: 64px;}
.form-outline label,
.form-outline input {font-size: 14px;color: #000000;line-height: 21px;
   margin-bottom: 5px;font-weight: 500;}
.form-outline input {padding: 7px;opacity: 0.5;}
.ragister-link {display: flex;width: 100%;}
.ragister-link a {font-size: 14px;line-height: 50px;font-weight: 500;
	color: #20776E;width: 50%;}
.ragister-link a:last-child {text-align: right;}
a.login-btn {background: #F6AB39;border-radius: 6px;padding: 12px 0px;
	display: block;text-align: center;color: #ffffff;text-decoration: none;
	font-size: 16px;line-height: 25px;text-transform: uppercase;}
p.divider {text-align: center;color: #000;position: relative;margin-top: 15px;}
p.divider span {position: relative;color: #010D0A;font-size: 16px;line-height: 25px;}
p.divider span:before {content: " ";width: 20px;height: 1px;background: #d2d2d2;
	position: absolute;left: -30px;top: 15px;}
p.divider span::after {content: " ";width: 20px;height: 1px;
	background: #d2d2d2;position: absolute;right: -26px;top: 15px;}
.otp-btn {text-align: center;}
.otp-btn a {background: transparent;border-radius: 6px;padding: 8px 35px;
	text-align: center;color: #080808;text-decoration: none;
	font-size: 16px;line-height: 25px;text-transform: uppercase;
	display: inline-block;box-shadow: 1px 1px 7px #0000001a;
	border-radius: 6px;margin: 0px auto;}
.footer-info {margin-top: 96px;}
.footer-info p {color: #000000;font-size: 9px;text-align: center;
	margin-bottom: 5px;padding: 0px !important;line-height: 10px;}
.login-main-image {margin: 50px 0px;}

/* Log in page style end */